<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Article</title>  
	<link  rel="stylesheet" type="text/css"  href="../static/css/article.css" th:href="@{/css/article.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script> 
	<script type="text/javascript"th:src="@{/js/article.js}"></script>
</head>
<body>
	<h1>Article</h1>
	<table class = "artilceTable" id = "listArticles"> 
		<thead> 
			<tr>
				<th> ArticleId</th>
				<th> ArticleTitle</th>
				<th> Author</th> 
				<th> Date</th>
				<th> operation</th>
			</tr>
		 </thead>
	</table> 
</body>
</html> 