<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title> 
    <link href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}"rel="stylesheet" type="text/css" >
    <link  rel="stylesheet" type="text/css"  href="../static/css/index.css" th:href="@{/css/index.css}"> 
    <link href = "../static/css/sidebar.css" th:href="@{/css/sidebar.css}" rel="stylesheet">
</head>
<body>  
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<a class="my-0 mr-md-auto font-weight-normal h3" href="/home">MyBlog</a>
		<nav class="my-2 my-md-0 mr-md-3">
		  <a class="p-2 text-dark" href="/articleCenter">Articles</a>
		  <a class="p-2 text-dark" href="/users">User Center</a>
		  <a class="p-2 text-dark" href="/resume">Resume</a>
		  <a class="p-2 text-dark" href="/contact">Contact</a>
		</nav> 
 		<a class="btn btn-outline-primary" href="/login">Login</a>
 		<a class="btn btn-outline-primary" href="/register">Sign up</a>
	</div> 
	<hr>  
    <!-- Page Content -->
    <div id="container" >
    	<h1 style=""> Welcome</h1>
    
        <div id="content">  
    		<p>This is my linkedin address: <a class="p-2 text-dark" href="http://www.linkedin.com/in/yuanting-song">Linkedin:yuanting-song</a> </p>
    		<p>The code of this web is on my github. </p>
    		<p>My Github : <a class = "p-2 text-dark" href="https://github.com/yuantingSong">Github:yuantingSong</a> 
			<p>code link : <a class = "p-2 text-dark" href="https://github.com/yuantingSong/Blog">this project code</a> 
    	</div> 
    	
    	
    </div>



   	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/home.js}"></script>
	<script> </script>
	
</body>
</html>